resource-pack=https://raw.githubusercontent.com/dandaldaks/leila-memorial-minecraft/main/Leila-Neverender-ResourcePack.zip
resource-pack-sha1=5a9550e48e982f3762881a9ad29906ae4007591d
resource-pack-id=adffae8d-ba05-5ffd-9525-cbd40583f44e
require-resource-pack=true
resource-pack-prompt={"text":"Leila Memorial music pack","color":"light_purple"}
